<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard|VehicleBay</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    
</head>
<body class="dashboard">
    
    <div class="dashboard-title text-center mb-5">
    <h1>Welcome, {{first_name}}</h1>
    <p>This is your personalised dashboard</p>
    </div>
    <div class="container justify-content-center align-item-center ">
        <div class="flash-container container mt-3">
    {% with messages = get_flashed_messages(with_categories=True)%}
    {% if messages %}
    {% for category, message in messages %}
        <div class="flash {{category}}">
        {{message}}
    </div>
        {% endfor %}
    
    {% endif %}
    {% endwith %}
    </div>
    <div class="container-body d-flex gap-4">
    <div class="card mb-4">
        <div class="custom-card-header">
            <h2 class="text-center mt-2">Your Active Reservation</h2>
        </div>
        <div class="card-content text-center justify-content-center align-item-center">
    {% if reservations %}
    {% for reservation in reservations %}
    <div class="info mt-2">
    <strong>Spot ID: </strong>{{reservation.spot_id}}<br>
    </div>
    <div class="info mt-2">
    <strong>Start Time: </strong>{{reservation.start_time}}
    </div>
    <form action="{{url_for('release_spot', reservation_id=reservation.id, username=user_name)}}" method="POST">
        <button type="submit" class="admin-action-card btn mt-2">Release spot</button>
    </form>
    {% endfor %}
    {% else %}
    <p class="text-muted mt-3">You don't have any active reservation</p>
    {% endif %}
    <p class="mt-4 text-sm text-gray-700 font-medium text-center">Need to explore other parking locations?<br><a href="{{url_for('view_lots', username=user_name)}}" class="admin-action-card btn mt-3">Browse Parking Lots</a></p>
    <br>
    </div>
    </div>
    <div class="card mb-4">
        <div class="custom-card-header">
    <h2 class="mb-3 text-center">Past Reservations</h2>
    </div>
    <div class="card-content text-center justify-content-center align-item-center">
    <table class="table table-bordered table-hover align-middle text-center mt-3">
       <thead class="table_heading">
        <tr>
            <th>Spot ID</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Cost</th>
        </tr>
       </thead>
       {% if past_reservations%}
        {% for r in past_reservations %}
        <tr>
            <td>{{r.spot_id}}</td>
            <td>{{r.start_time}}</td>
            <td>{{r.end_time}}</td>
            <td>{{r.cost}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p class="text-muted mt-3">You haven't made any reservations yet. Start by exploring parking lots!</p>
        <p>{{monthly_count}}</p>
        {% endif %}
    </table>
    </div>
    </div>
             <div class="card mb-4">
            <div class="custom-card-header">
                <h2 class="text-center mt-2">Your Parking History</h2>
            </div>
            <canvas id="historyChart"></canvas>
            </div>
    </div>
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', function(){  
           const ChartReservation = JSON.parse('{{monthly_counts|safe}}');
           console.log(ChartReservation)
       
    const ctxUser = document.getElementById('historyChart').getContext('2d');
    new Chart(ctxUser, {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April","May", "June", "July", "August", "September", "October", "November","December"],
            datasets: [{
                label: 'Reservations',
                data: ChartReservation,
                backgroundColor: '#007bff'
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            },
            scales: {
                y: { beginAtZero: true }
            }
        }
    });
});
</script>
{% endblock %} 
    <p class="back-link text-center mt-3"><a href="/" class="text-dark text-decoration-underline">Back To Home</a></p>
    </div>
</body>
</html>